<footer class="footer">
  <div class="footer-content">
    <div class="logo-container">
      <a href="https://fr.linkedin.com/in/tahmi-matti-a30560214">
        <img src="../../../assets/Linkedin.svg" alt="Linkedin" class="logo ">
      </a>
      <img src="../../../assets/Email.svg" alt="Email" class="logo">
      <img src="../../../assets/Phone.svg" alt="Phone" class="logo">
      <a href="https://github.com/Tahmii">
        <img src="../../../assets/Github.svg" alt="Github" class="logo">
      </a>
    </div>
    <div class="menu">
      <nav>
        <a routerLink="/presentation" class="menu-item">Présentation</a>
        <a routerLink="/competence" class="menu-item">Compétences</a>
        <a routerLink="/experience" class="menu-item">Experience</a>
        <a routerLink="/contact" class="menu-item">Contact</a>
      </nav>
    </div>
  </div>
  <div class="bottom">
    <div class="line"></div>
    <div class="end">
      <p class="small-text">© 2023 - Tahmi MATTI -</p> <a routerLink="/mention-legal">mention legal</a>
    </div>
  </div>
</footer>