<div class="container">
    <h2>Mentions légales</h2>
    <div class="content">
        <p><strong>Nom du site web :</strong> Tahmi Matti Process</p>
        <p><strong>Propriétaire du site :</strong> Tahmi Matti</p>
        <p><strong>Code postal :</strong> 31770</p>
        <p><strong>Ville :</strong> Colomiers</p>
        <p><strong>Pays :</strong> France</p>
        <p><strong>Adresse e-mail :</strong>Tahmi.ma222@gmail.com</p>
        <p><strong>Téléphone :</strong> 07 67 19 57 28</p>
        <p><strong>Responsable de la publication :</strong> Tahmi MATTI</p>
        <p><strong>Hébergeur du site :</strong> Vercel</p>
        <p><strong>Adresse de l'hébergeur :</strong> [Adresse de l'hébergeur]</p>
        <p><strong>Droits d'auteur :</strong> Tous les éléments de ce site (textes, images, vidéos, etc.) sont la
            propriété exclusive de MATTI Tahmi. Toute reproduction totale ou partielle de ce contenu est interdite sans
            autorisation écrite préalable.</p>
        <p><strong>Protection des données personnelles :</strong>Pas de collecte de données</p>
        <p><strong>Cookies :</strong> pas d'utilisation des cookies</p>
        <p><strong>Responsabilité :</strong> MATTI Tahmi</p>
        <p><strong>Crédits :</strong> Ce site peut utiliser des ressources, des polices, des images, des icônes ou
            d'autres éléments sous licence. Les crédits et les licences de ces éléments sont indiqués dans la section
            "Crédits" du site.</p>
        <p><strong>Contact :</strong> Pour toute question ou préoccupation concernant ces mentions légales, veuillez
            nous contacter à l'adresse e-mail suivante : Tahmi.ma222@gmail.com</p>
    </div>
</div>