.container {
    display: flex;
    margin-top: 95px;
    background-color: #f0ede5;
    justify-content: center;
    flex-direction: column;
    /* Pour afficher le texte en colonne */
    align-items: center;
    /* Pour centrer le contenu */
    text-align: center;
    /* Pour centrer le texte */
}

.content {
    max-width: 800px;
    /* Ajustez la largeur du contenu si nécessaire */
}