<div class="container" *ngIf="experience">
  <div class="content">
    <div class="button-container">
      <button class="back-button" (click)="retourALaListe()">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
          <path
            d="M25.6 36.3c.4.4.4 1 0 1.4s-1 .4-1.4 0L9.9 22.6c-.2-.2-.3-.4-.3-.7s.1-.5.3-.7l14.3-14.3c.4-.4 1-.4 1.4 0s.4 1 0 1.4L12.8 20h25.7c.6 0 1 .4 1 1s-.4 1-1 1H12.8l11.4 11.3z"
            fill="#000" />
        </svg>
      </button>
    </div>


    <div class="line"></div>
    <h2 class="stack">Entreprise <span style="font-style: italic">{{experience.firm}}</span></h2>
    <div class="line"></div>

    <div class="quote-container">
      <p class="quote">{{experience.context}}</p>
    </div>

    <div class="grid-container">
      <div class="left-column">
        <app-experience-card-details [contrat]="experience.contrat" [firm]="experience.firm" [poste]="experience.poste"
          [pastime]="experience.pastime" [experienceId]="experience.experienceId"></app-experience-card-details>
      </div>
      <div class="right-column">
        <app-svg [svgContent]="experience.svg"></app-svg>
      </div>
    </div>
    <div class="skill-container">

      <app-skill-for-experience-container [skills]="experience.skills"></app-skill-for-experience-container>

    </div>
  </div>
</div>
