<div class="container">
  <div class="line"></div>
  <h2 class="contact">Contactez-moi</h2>
  <div class="line"></div>
  <div class="content">

    <div class="container-card">
      <div class="left">
        <app-contact-card></app-contact-card>
      </div>
      <div class="right">
        <a href="https://github.com/Tahmii">
          <img src="../../../assets/Github-black.svg" alt="Github" class="logo">
        </a>
        <a href="https://fr.linkedin.com/in/tahmi-matti-a30560214">
          <img src="../../../assets/Linkedin.svg" alt="Linkedin" class="logo ">
        </a>
      </div>
    </div>
  </div>
</div>