<div class="contact-card">
    <h3>My self 😜</h3>
    <div class="container">
        <img src="../../../assets/id.svg" alt="identification" class="logo">
        <div class="item">
            <p>{{firstName}} {{lastName}}</p>
        </div>
    </div>
    <div class="line"></div>

    <div class="container">
        <img src="../../../assets/Phone-black.svg" alt="phone" class="logo">
        <div class="item">
            <p>{{phone}}</p>
        </div>
    </div>
    <div class="line"></div>

    <div class="container">
        <img src="../../../assets/Email-black.svg" alt="years" class="logo">
        <div class="item">
            <p>{{email}}</p>
        </div>
    </div>
    <div class="line"></div>

    <div class="container">
        <img src="../../../assets/age.svg" alt="years" class="logo">
        <div class="item">
            <p>{{years}} ans</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <img src="../../../assets/info.svg" alt="years" class="logo">
        <div class="item">
            <p>{{infoComplementaire}}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <img src="../../../assets/job.svg" alt="years" class="logo">
        <div class="item">
            <p>{{job}}</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="container">
        <img src="../../../assets/language.svg" alt="years" class="logo">
        <div class="la">
            <img src="../../../assets/french.svg" alt="years" class="fr">
            <img src="../../../assets/flagEn.svg" alt="years" class="en">
        </div>
    </div>
</div>