<div class="search-container">

  <app-search-bar (search)="onSearch($event)"></app-search-bar>
  <div *ngIf="searchQuery.length >= 2" class="skills-dropdown">
    <div *ngFor="let skill of searchedSkills" class="skill-item">
      <a class="item" (click)="goToSkillDetails(skill.skillId)">{{ skill.name }}</a>
    </div>
  </div>
</div>

<div class="container">

  <div class="content">

    <div class="line"></div>
    <h2 class="philosophy">Ma philosophie</h2>
    <div class="line"></div>

    <div class="quote-container">
      <p class="quote">citation ici</p>
    </div>
    <div class="line"></div>
    <h2 class="skills">Mes compétences</h2>
    <div class="line"></div>

    <app-container-card></app-container-card>

  </div>
</div>
